.shell {
    padding: 50px;
    position: relative;
    margin: 50px;
}
.shell:hover {
    cursor: pointer;
}
.shell_image {
    width: 100px;
    transform: rotate(135DEG);
}
.shell--uncovered .shell_image {
    transform: translate(-50px, -50px) rotate(135DEG)
}
.pea {
    width: 20px;
    background: #77BA99;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
}