.shell {
    padding: 50px;
    position: relative;
    margin: 50px;
}
.shell:hover {
    cursor: pointer;
}
.shell-image {
    width: 100px;
    z-index: 2;
}
.shell-game.started .shell--uncovered .shell-image {
    transform: translate(-50px, -50px) rotate(180DEG);
}
.pea {
    width: 20px;
    background: #77BA99;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    z-index: -1;
}
