.shell-game {
    position: relative;
    height: 300px;
    width: 750px;
    padding: 50px;
}
  
.shell-wrapper {
    position: absolute;
    will-change: transform, width, opacity;
    height: 100%;
  }
  
  .game-buttons {
    margin-top: -100px;
  }

  .game-message {
    margin: 25px;
    font-size: 25px;
    font-weight: bold;
  }

  .game-buttons button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background: #EF599F;
    color: white;
  }

  .game-buttons button:hover {
      background: #890039;
  }

  .shell-game .shell-image {
    transform: rotate(0DEG) translate(-25px, -50px);
    transition: transform 500ms 200ms;
  }

  .shell-game.started .shell-image {
    transform: translate(0, 5px) rotate(180deg);
  }